body {
	margin: 0;
	/*background-color: rgb(245,245,245);*/
	background: rgb(240,240,240);
}


.header {
/*	background-image: linear-gradient(top, rgb(250,131,110) 5%, rgb(250,106,104) 69%);
	background-image: -o-linear-gradient(top, rgb(250,131,110) 5%, rgb(250,106,104) 69%);
	background-image: -moz-linear-gradient(top, rgb(250,131,110) 5%, rgb(250,106,104) 69%);
	background-image: -webkit-linear-gradient(top, rgb(250,131,110) 5%, rgb(250,106,104) 69%);
	background-image: -ms-linear-gradient(top, rgb(250,131,110) 5%, rgb(250,106,104) 69%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.05, rgb(250,131,110)),
		color-stop(0.69, rgb(250,106,104))
	);*/
	/*background-image: linear-gradient(-180deg,#dc5152 0,rgb(201,69,71) 100%);*/
	background-image: linear-gradient(-180deg,#39bf9f 0, #02906e 100%);
	-webkit-box-shadow: rgba(0,0,0,0.25) 0 3px 5px 0,rgba(0,0,0,0.2) 0 -1px 0 0 inset;
	height: 90px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	left: 0;
}

.splash {
	/*background: url("../images/bkg-3.png") no-repeat;*/
	height: 580px;
	background: #312e33 url("../images/bkg-3.png") no-repeat scroll center 0;
	background-size: auto 90%;
	overflow: hidden;
	width: 100%;
	margin-top: 90px;
	vertical-align: baseline;
}

.logo {
	 width: 234px;
    margin: 0 auto;
}


