body {
	margin: 0;
	padding:0;
	background: rgb(240,240,240);
}

@font-face {
    font-family: 'Verlag Bold'; /*a name to be used later*/
    src: url('../fonts/Verlag-Bold.woff'); /*URL to font*/
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.woff'); /*URL to font*/
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold.woff'); /*URL to font*/
}

.header {

	/*background-image: linear-gradient(-180deg,#39bf9f 0, #02906e 100%);*/
	/*-webkit-box-shadow: rgba(0,0,0,0.15) 0 3px 4px 0,rgba(0,0,0,0.15) 0 -1px 0 0 inset;*/
	height: 120px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	left: 0;

}


.header.changed
{
    filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);
}

.logo {
	 width: 234px;
   padding: 0 0 0 4%;
   /*margin: 0 auto;*/
}

.logo .image{
	/*padding-top: 12px;*/
    width: 215px;
    height: 97px;
    /*clip:rect(0px,500px,100px,0px); position: absolute; top: 12px;*/
}

.logo .image.cropped {
    /*clip:rect(0px,50px,100px,0px); position: absolute; top: 12px;*/
    
}

.splash {
  height: 650px;
  background: url(../images/bkg-6.png) 50% 0 no-repeat fixed; 
  margin: 0;
  padding: 0;
}

.splash .title {
/*	width: 44%;
*/	/*top, right, bottom, left*/
  padding: 17% 0 0 0;
  color: rgb(249, 249, 249);
  font-size: 52px;
  font-family: 'Verlag Bold';
  width: 100%;
	text-align: center;
}

.content {
  z-index: 1;
}

.steps {
    height: 1500px;
}

.content .steps .title {
/*     width: 44%;
*/    /*top, right, bottom, left*/
    padding: 3% 0 0 0;
    color: black;
    font-size: 38px;
    font-family: 'Open Sans';
    text-align: center;
}

.circles {
  margin-left: 14%;
  width: 100%;

}

.circle {
  -webkit-transition: all 1.0s ease-in-out;  
  -moz-transition: all 1.0s ease-in-out;  
  -o-transition: all 1.0s ease-in-out;  
  -ms-transition: all 1.0s ease-in-out;  
  transition: all 1.0s ease-in-out;
  /*-webkit-border-radius: 999px;*/
  /*-moz-border-radius: 999px;*/
  /*border-radius: 999px;*/
  /*behavior: url(PIE.htc);*/
  display: inline-block;
  margin-top: 15%;
}

.step1 {
  width: 235px;
  height: 138px;
  background: url("../images/step1.png") no-repeat scroll center 0;
  background-size: 235px 138px;
  margin-bottom: 2%;
}

.step2 {
  width: 233px;
  height: 172px;
  background: url("../images/step2.png") no-repeat scroll center 0;
  background-size: 233px 172px;
  margin: 0 12% 0 12%;
  margin-bottom: 2%;
}

.step3 {
  width: 200px;
  height: 200px;
  background: url(http://www.hawthornethreads.com/images/timeless_treasures/300/timeless_treasures_house_designer_crosshatch_sketch_in_white_and_black.jpg); no-repeat scroll center 0;
  background: red;
}

.instructions {
  margin-left: 12%;
  width: 100%;

}

.instruction {
  display: inline-block;
  width: 320px;

}
.instructions .middle {
  padding: 0 7% 0 7%;

}